<table class="table">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Bid Price</th>
        <th scope="col">Bid Quantity</th>
        <th scope="col">Ask Price</th>
        <th scope="col">Ask Quantity</th>
        <th scope="col">Last Price</th>
        <th scope="col">Change in Percentage</th>
        <th scope="col">Price Open</th>
        <th scope="col">Minimum Price</th>
        <th scope="col">Maximum Price</th>
        <th scope="col">Previous Close</th>
        <th scope="col">Nominal Volumen</th>
        <th scope="col">Operated Amount</th>
        <th scope="col">Operation Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">AGRO</th>
        <td>350</td>
        <td>13.700</td>
        <td>793</td>
        <td>14.250</td>
        <td>13.900</td>
        <td>null</td>
        <td>13.650</td>
        <td>14.250</td>
        <td>13.650</td>
        <td>13.650</td>
        <td>158839</td>
        <td>2230857</td>
        <td>191</td>
      </tr>
    </tbody>
  </table>

<pre>StockExample: {{stock | json}}</pre>
